# This is a sample Jupyter Notebook

Put your cursor into the cell and press Shift+Enter to execute it.
To debug a cell, press Alt+Shift+Enter

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/jupyter-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [2]:
import pandas as pd

df = pd.read_csv('GEAP.csv', sep=';')
df.columns = df.columns.str.strip()

# usando a planilha reduzida
df_teste = df.head(13)
display(df_teste)

,0-TipoRegistro,CodMatricula,CPF,NmeCliente,Conveniada,DtaNascimento,NroInscricao,SeqCliente,TipoVinculo,Plano,RefCobranca,DtaInscricao,DtaMovimentacao,TipoCusteio,VlrIntegral,VlrRemuneracao,VlrContribuicao,VlrPerCapita,VlrParticipacao
0,1,34060418,010.891.014-81,ADILMA CRISTINA DANTAS DE MELO,DPE/RR,12/07/1980,1301642,0,TITULAR,GEAPSAUDE VIDA,jul/24,12/04/2023,NaN,COPATROCINADO,728.89,10059.79,646.01,0.0,0.0
1,1,34060418,151.894.614-32,ANA EVELYM DE MELO RODRIGUES,DPE/RR,26/01/2006,1301642,1,FILHO(A),GEAPSAUDE VIDA,jul/24,28/11/2023,NaN,COPATROCINADO,359.27,10059.79,318.42,0.0,0.0
2,1,367010422,029.704.952-60,ADRIA LETICIA BRAGA SOMBRA,DPE/RR,27/06/1998,1297697,0,TITULAR,GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,475.12,5000.00,421.09,0.0,0.0
3,1,367010422,021.443.702-73,IAGO CARVALHO DE SALES,DPE/RR,29/10/1998,1297697,1,COMPANHEIRO(A),GEAPSAUDE VIDA,jul/24,27/04/2023,NaN,COPATROCINADO,475.12,5000.00,421.09,0.0,0.0
4,1,79070611,447.338.952-91,ADRIANA PATRICIA FARIAS DE LIMA,DPE/RR,09/06/1977,1297734,0,TITULAR,GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,881.95,5000.00,781.66,0.0,0.0
5,1,79070611,477.734.053-87,CARLOS ALBERTO FONSECA DE MENEZES FILHO,DPE/RR,12/02/1976,1297734,2,CONJUGE,GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,881.95,5000.00,781.66,0.0,0.0
6,1,79070611,068.255.152-09,JOAO VITOR DE LIMA DINIZ,DPE/RR,24/08/2007,1297734,1,FILHO(A),GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,359.27,5000.00,318.42,0.0,0.0
7,1,430090123,508.728.002-10,ALCEU WALTER ROSA JUNIOR,DPE/RR,03/09/1980,1224933,0,TITULAR,GEAPSAUDE VIDA,jul/24,01/03/2023,01/03/2023,COPATROCINADO,728.89,23175.00,646.01,0.0,0.0
8,1,430090123,080.815.662-44,ANA CLARA DUARTE ROSA,DPE/RR,14/02/2019,1224933,3,FILHO(A),GEAPSAUDE VIDA,jul/24,08/03/2023,08/03/2023,COPATROCINADO,359.27,23175.00,318.42,0.0,0.0
9,1,430090123,964.236.172-87,ANA PAULA MELVILLE DUARTE,DPE/RR,28/01/1992,1224933,2,CONJUGE,GEAPSAUDE VIDA,jul/24,01/03/2023,01/03/2023,COPATROCINADO,546.39,23175.00,484.26,0.0,0.0
10,1,430090123,066.364.282-52,LIVIA DUARTE ROSA,DPE/RR,07/12/2017,1224933,1,FILHO(A),GEAPSAUDE VIDA,jul/24,01/03/2023,08/03/2023,COPATROCINADO,359.27,23175.00,318.42,0.0,0.0
11,1,438010323,006.769.302-47,ALDEMIR CUNHA AGUIAR,DPE/RR,30/07/1991,1299694,0,TITULAR,GEAPSAUDE VIDA,jul/24,23/03/2023,NaN,COPATROCINADO,546.39,3651.33,484.26,0.0,0.0
12,1,438010323,087.968.612-07,ARIADNA DOS SANTOS OLIVEIRA NEVES,DPE/RR,12/08/2003,1299694,1,COMPANHEIRO(A),GEAPSAUDE VIDA,jul/24,23/03/2023,NaN,COPATROCINADO,413.14,3651.33,366.16,0.0,0.0

In [1]:
import pandas as pd

df = pd.read_csv('GEAP.csv', sep=';')
df.columns = df.columns.str.strip()

# usando a planilha reduzida
df_teste = df.head(13)
display(df_teste)

class Pessoas:
    def __init__(self, cpf, nome, conveniada, data_nascimento, seqcliente, tipo_vinculo, plano) -> None:
        self.cpf = cpf
        self.nome = nome
        self.conveniada = conveniada
        self.data_nascimento = data_nascimento
        self.seqcliente = seqcliente
        self.tipo_vinculo = tipo_vinculo
        self.plano = plano
    

class Servidores:
    def __init__(self, pessoa:Pessoas, cod_matricula, nroinscricao) -> None:
        self.pessoa = pessoa
        self.cod_matricula = cod_matricula
        self.nroinscricao = nroinscricao
        self.dependentes = []
        

        
class Dependentes:
    def __init__(self, pessoa:Pessoas,nroinscricao ) -> None:
        self.pessoa = pessoa
        self.nroinscricao = nroinscricao
        
# Listas
titulares: list[Servidores] = []
dependentes: list[Dependentes] = []

for i, row in df_teste.iterrows():
    # Criar a pessoa (tanto para titulares quanto dependentes)
    pessoa = Pessoas(
        cpf=row['CPF'], 
        nome=row['NmeCliente'], 
        conveniada=row['Conveniada'], 
        data_nascimento=row['DtaInscricao'], 
        seqcliente=row['SeqCliente'], 
        tipo_vinculo=row['TipoVinculo'], 
        plano=row['Plano']
    )
    
    if row['TipoVinculo'] == "TITULAR":
        servidor = Servidores(pessoa, cod_matricula=row['CodMatricula'], nroinscricao=row['NroInscricao'])
        titulares.append(servidor)
    else:
        dependente = Dependentes(pessoa, nroinscricao=row['NroInscricao'])
        dependentes.append(dependente)
    
    
# print(len(titulares), len(dependentes))
# print(titulares[0].pessoa.nome)
# 
# if dependentes[0].nroinscricao == titulares[0].nroinscricao:
#     titulares[0].add_dependente(dependentes[0])
# 
# print(f"Nome do Titular {titulares[0].pessoa.nome}")
#     
# titulares[0].add_dependente(dependentes[0])

# Função para encontrar as associações
# def encontrar_titular_por_dependente(dependente, titulares):
#     for titular in titulares:
#         if titular.nroinscricao == dependente.nroinscricao:
#             return titular
#     return None
# 
# for i in range(len(dependentes)):
#     titular_encontrado = encontrar_titular_por_dependente(dependentes[i], titulares)
#     if titular_encontrado:
#         print(f"Dependente: {dependentes[i].pessoa.nome} ({dependentes[i].pessoa.tipo_vinculo}), Titular: {titular_encontrado.pessoa.nome}")
#     else:
#         print("Titular não encontrado para este dependente.")
print("="*20, end="\n\n")

for titular in titulares:
    print(f"Titular: {titular.pessoa.nome}")
    
    dependentes_encontrados = []
    
    # Procurar dependentes com o mesmo número de inscrição
    for dependente in dependentes:
        if dependente.nroinscricao == titular.nroinscricao:
            dependentes_encontrados.append(dependente.pessoa.nome)
    
    if dependentes_encontrados:
        print(f"Dependentes : {', '.join(dependentes_encontrados)} \n")
    else:
        print("Nenhum dependente encontrado para este titular.")

NameError: name 'df_teste' is not defined

In [11]:
import pandas as pd

df = pd.read_csv('GEAP.csv', sep=';')
df.columns = df.columns.str.strip()

# usando a planilha reduzida
df_teste = df.head(13)
display(df)
# print(f"Número de linhas: {df_teste.shape[0]}, Número de colunas: {df_teste.shape[1]}")
# contagem_titulares = df_teste[df_teste['TipoVinculo'] == 'TITULAR'].shape[0]
# contagem_dependentes = df_teste[df_teste['TipoVinculo'] == 'FILHO(A)'].shape[0]
# print(f"Número de titulares: {contagem_titulares}")
# print(f"Número de dependentes: {contagem_dependentes}")

class Pessoas:
    def __init__(self, cpf, nome, conveniada, data_nascimento, seqcliente, tipo_vinculo, plano) -> None:
        self.cpf = cpf
        self.nome = nome
        self.conveniada = conveniada
        self.data_nascimento = data_nascimento
        self.seqcliente = seqcliente
        self.tipo_vinculo = tipo_vinculo
        self.plano = plano
    

class Servidores:
    def __init__(self, pessoa:Pessoas, cod_matricula, nroinscricao) -> None:
        self.pessoa = pessoa
        self.cod_matricula = cod_matricula
        self.nroinscricao = nroinscricao
        self.dependentes = []
        
    def add_dependente(self, dependente):
        # Verificar se o dependente já está vinculado
        if dependente not in self.dependentes:
            self.dependentes.append(dependente)
        else:
            print(f"Dependente {dependente.pessoa.nome} já está vinculado a este titular.")

    def rem_dependente(self, dependente):
        if dependente in self.dependentes:
            self.dependentes.remove(dependente)
        else:
            print(f"Dependente {dependente.pessoa.nome} não está vinculado a este titular.")

        
class Dependentes:
    def __init__(self, pessoa:Pessoas,nroinscricao ) -> None:
        self.pessoa = pessoa
        self.nroinscricao = nroinscricao
        
import pandas as pd

# Listas
titulares: list[Servidores] = []
dependentes: list[Dependentes] = []

# Criar um dicionário para mapear servidores pela matrícula
servidor_por_matricula = {}

for i, row in df_teste.iterrows():
    # Criar a pessoa (tanto para titulares quanto dependentes)
    pessoa = Pessoas(
        cpf=row['CPF'], 
        nome=row['NmeCliente'], 
        conveniada=row['Conveniada'], 
        data_nascimento=row['DtaInscricao'], 
        seqcliente=row['SeqCliente'], 
        tipo_vinculo=row['TipoVinculo'], 
        plano=row['Plano']
    )
    
    if row['TipoVinculo'] == "TITULAR":
        servidor = Servidores(pessoa, cod_matricula=row['CodMatricula'], nroinscricao=row['NroInscricao'])
        titulares.append(servidor)
        servidor_por_matricula[row['CodMatricula']] = servidor  # Mapeia o servidor pela matrícula
    else:
        dependente = Dependentes(pessoa, nroinscricao=row['NroInscricao'])
        # Adiciona o dependente à lista do servidor correspondente
        cod_matricula = row['CodMatricula']
        if cod_matricula in servidor_por_matricula:
            servidor_por_matricula[cod_matricula].add_dependente(dependente)  # Adiciona o dependente ao servidor
        dependentes.append(dependente)  # Opcional: manter a lista de dependentes, caso precise dela


# Criar uma lista para armazenar os dados para o DataFrame
dados = []

# Preencher a lista com dados dos servidores e dependentes
for servidor in titulares:
    # Adiciona o servidor (titular)
    dados.append({
        'Nome': servidor.pessoa.nome,
        'CPF': servidor.pessoa.cpf,
        'Matrícula': servidor.cod_matricula,
        'NroInscricao': servidor.nroinscricao,
        'Vinculo': servidor.pessoa.tipo_vinculo
    })
    
    # Adiciona os dependentes do servidor
    for dependente in servidor.dependentes:
        dados.append({
            'Nome': dependente.pessoa.nome,
            'CPF': dependente.pessoa.cpf,
            'Matrícula': servidor.cod_matricula,  # Matrícula do titular
            'NroInscricao': dependente.nroinscricao,
            'Vinculo': dependente.pessoa.tipo_vinculo
        })

# Criação do DataFrame
df_refeito = pd.DataFrame(dados)

# Exibir o DataFrame
display(df_refeito)

,0-TipoRegistro,CodMatricula,CPF,NmeCliente,Conveniada,DtaNascimento,NroInscricao,SeqCliente,TipoVinculo,Plano,RefCobranca,DtaInscricao,DtaMovimentacao,TipoCusteio,VlrIntegral,VlrRemuneracao,VlrContribuicao,VlrPerCapita,VlrParticipacao
0,1,34060418,010.891.014-81,ADILMA CRISTINA DANTAS DE MELO,DPE/RR,12/07/1980,1301642,0,TITULAR,GEAPSAUDE VIDA,jul/24,12/04/2023,NaN,COPATROCINADO,728.89,10059.79,646.01,0.0,0.0
1,1,34060418,151.894.614-32,ANA EVELYM DE MELO RODRIGUES,DPE/RR,26/01/2006,1301642,1,FILHO(A),GEAPSAUDE VIDA,jul/24,28/11/2023,NaN,COPATROCINADO,359.27,10059.79,318.42,0.0,0.0
2,1,367010422,029.704.952-60,ADRIA LETICIA BRAGA SOMBRA,DPE/RR,27/06/1998,1297697,0,TITULAR,GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,475.12,5000.00,421.09,0.0,0.0
3,1,367010422,021.443.702-73,IAGO CARVALHO DE SALES,DPE/RR,29/10/1998,1297697,1,COMPANHEIRO(A),GEAPSAUDE VIDA,jul/24,27/04/2023,NaN,COPATROCINADO,475.12,5000.00,421.09,0.0,0.0
4,1,79070611,447.338.952-91,ADRIANA PATRICIA FARIAS DE LIMA,DPE/RR,09/06/1977,1297734,0,TITULAR,GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,881.95,5000.00,781.66,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,1,10310702,382.101.002-97,WILSON ROI LEITE DA SILVA,DPE/RR,30/05/1970,1297717,0,TITULAR,GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,1547.82,5000.00,1371.82,0.0,0.0
615,1,431010223,025.726.612-76,ELLEN ALVES RUFINO,DPE/RR,12/08/1995,1299647,1,CONJUGE,GEAPSAUDE VIDA,jul/24,23/03/2023,NaN,COPATROCINADO,475.12,9359.52,421.09,0.0,0.0
616,1,431010223,006.468.042-86,YAGO DJANGO SOUZA DE OLIVEIRA,DPE/RR,23/04/1992,1299647,0,TITULAR,GEAPSAUDE VIDA,jul/24,23/03/2023,NaN,COPATROCINADO,546.39,9359.52,484.26,0.0,0.0
617,1,272011018,020.758.892-95,YNAIMA SUANAM RIOS SANTANA,DPE/RR,10/06/1993,1297684,0,TITULAR,GEAPSAUDE VIDA,jul/24,01/03/2023,NaN,COPATROCINADO,546.39,5000.00,484.26,0.0,0.0
618,1,220030417,508.837.632-49,ZUILA CANAVARRO MARINHO,DPE/RR,31/01/1978,1300549,0,TITULAR,GEAPSAUDE VIDA,jul/24,30/03/2023,NaN,COPATROCINADO,881.95,5185.85,781.66,0.0,0.0

,Nome,CPF,Matrícula,NroInscricao,Vinculo
0,ADILMA CRISTINA DANTAS DE MELO,010.891.014-81,34060418,1301642,TITULAR
1,ANA EVELYM DE MELO RODRIGUES,151.894.614-32,34060418,1301642,FILHO(A)
2,ADRIA LETICIA BRAGA SOMBRA,029.704.952-60,367010422,1297697,TITULAR
3,IAGO CARVALHO DE SALES,021.443.702-73,367010422,1297697,COMPANHEIRO(A)
4,ADRIANA PATRICIA FARIAS DE LIMA,447.338.952-91,79070611,1297734,TITULAR
5,CARLOS ALBERTO FONSECA DE MENEZES FILHO,477.734.053-87,79070611,1297734,CONJUGE
6,JOAO VITOR DE LIMA DINIZ,068.255.152-09,79070611,1297734,FILHO(A)
7,ALCEU WALTER ROSA JUNIOR,508.728.002-10,430090123,1224933,TITULAR
8,ANA CLARA DUARTE ROSA,080.815.662-44,430090123,1224933,FILHO(A)
9,ANA PAULA MELVILLE DUARTE,964.236.172-87,430090123,1224933,CONJUGE
10,LIVIA DUARTE ROSA,066.364.282-52,430090123,1224933,FILHO(A)
11,ALDEMIR CUNHA AGUIAR,006.769.302-47,438010323,1299694,TITULAR
12,ARIADNA DOS SANTOS OLIVEIRA NEVES,087.968.612-07,438010323,1299694,COMPANHEIRO(A)